{{!-- 
<div class="footer-main">
    <div class="footer-social-icons">
        <ul>
            <li><a href="#" target="blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="blank"><i class="fa fa-github"></i></a></li>
            <li><a href="#" target="blank"><i class="fa fa-linkedin-in"></i></a></li>
        
        </ul>

    </div>

</div>
</main>
</body>
</html> --}}
