
  
<h3><img src="https://i.imgur.com/o74pgZm.png" height="150px" alt="SellIt!"></h3>
<div class="section">
  <p class="lead">Buy And Sell With Ease</p>
</div> 
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn green darken-1">
      <i class="fab fa-google left"></i> SignUp With Google</a>
  </div>



