
<h3>Edit Item</h3> 
<div class="row">
    <form action="/items{{item._id}}" method="POST" class="col s12">
    <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{item.title}}">
                <label>Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Describe Your Item</h5>
               <textarea name="description" id="description">{{item.description}}</textarea>
                
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="number" id="price" name="price" value="{{item.price}}">
                <label>Price</label>
            </div>
        </div>
        <!-- <div class="row">THIS IS FOR A PHOTO
            <div class="input-field">
                <input type="text" id="description" name="description">
                <label>Description</label>
            </div>
        </div> -->
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn-orange">Cancel</a>
        </div>





    </form>
</div>